* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background:  linear-gradient(to bottom, #BBD2C5, #536976, #292E49);
	font-family: Arial, Helvetica, sans-serif;
}

.button-container {
	
	text-align: center;
	padding: 60px;
	background:  linear-gradient(to left, #314755, #26a0da);
}

button {
   
    padding: 8px 20px;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 8px;
}

.cancel {
    background-color: rgb(233, 12, 12);    
}

.succes {
    background-color: rgb(8, 185, 2);    
}

.reject {
    background-color: rgba(247, 115, 8, 0.863);
}

button:hover {
    background-color: rgb(45, 43, 177);
    color: black;
}

/* CONTENEDOR DE TARJETAS */

.card-container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	display: grid;
	gap: 20px;
}

/* CARD 1  */

.card1 {
	height: min-content;
	width: 300px;
	background-color: white;
    border-radius: 10px;
	overflow: hidden;
	text-align: center;
	
}

.background{
	background-color: teal;
}

.texto-card1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 20px 20px 60px 20px;
	color: gray;

}

.avatar {
	width:100px;
    height:100px;
    border-radius:150px;
	border: 5px solid white;
	margin-top: -50px;
	
}

.background > h2 { 
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.background > p {
	text-transform: uppercase;
	color: lightgrey;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

/* CARD 2 PLANTA */

.card2 {
	background-color: white;
	overflow: hidden;
	margin: 16px 0;
	border: 1px solid lightgray;
	max-width: 320px;
	border-radius: 9px;
	font-family: Arial, Helvetica, sans-serif;
	
	display: flex;


}

.planta {

	max-width: 100px;
	display: inline-block;	
	
}

.card2 > div {
	display: inline-block;
	padding-left: 16px;
}

.card2 .nombrePlanta {
	padding-top: 10px;
	font-weight: bold;
  }
  .card2 .precio {
	color: gray;
	padding-top: 8px;
  }
  .card2 .stock {
	color: teal;
	font-weight: 700;
	padding: 8px 0;
  }

  /* CARD 3 PULSOS */
  
.card3 {
	background-color: white;
  	max-width: 220px;
  	border: 1px solid lightgray;
  	padding: 16px;
  	border-radius: 9px;
}

.card3 img {
	max-width: 25%;
	display: inline-block;
	margin-right: 16px;
  }

.card3 p {
	display: inline-block;
}

.card3 .title {
	font-size: 12px;
	color: gray;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
  }

.card3 .numero {
	font-size: 20px;
	font-weight: bold;
  }

.card3 .small {
	font-size: 12px;
	font-weight: 500;
  }

.card3 .pulso {
	display: block;
	min-width: 100%;
	
}